<IfModule mod_rewrite.c>
    RewriteEngine On

    # HTTPS forcé
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Blocage accès internes
    RewriteRule ^(src|config|vendor) - [F,L]

    # API
    RewriteCond %{HTTP:X-Requested-With} XMLHttpRequest
    RewriteRule ^api/(.*)$ api/service.php?endpoint=$1 [L,QSA]

    # Frontend
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>

# Custom error handling
ErrorDocument 400 /ErrorPage.php?code=400&message=Bad+Request
ErrorDocument 401 /ErrorPage.php?code=401&message=Unauthorized
ErrorDocument 403 /ErrorPage.php?code=403&message=Forbidden
ErrorDocument 404 /ErrorPage.php?code=404&message=Not+Found
ErrorDocument 500 /ErrorPage.php?code=500&message=Internal+Server+Error
